/* importing fonts */
@font-face {
	font-family: "robotoregular";
	src: url("../fonts/roboto-regular-webfont.woff2") format("woff2"),
		url("../fonts/roboto-regular-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "robotomedium";
	src: url("../fonts/roboto-medium-webfont.woff2") format("woff2"),
		url("../fonts/roboto-medium-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "robotolight";
	src: url("../fonts/roboto-light-webfont.woff2") format("woff2"),
		url("../fonts/roboto-light-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
/* body styles */
body {
	font-family: "robotolight";
}
.no-style-list {
	list-style: none;
}
nav {
	font-family: "robotoregular";
}
.bold {
	font-family: "robotomedium";
}
.regular {
	font-family: "robotoregular";
}
/* removed padding and margin of these because they gave overflow issues */
.row,
.form-row {
	padding: 0;
	margin-right: 0px;
	margin-left: 0px;
}
.container-fluid {
	padding-right: 0px;
	padding-left: 0px;
}

/* navbar styles */
.navbar-light .navbar-toggler {
	border-color: transparent;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
	color: #0075c9;
}

.navbar-light .navbar-nav .nav-link {
	color: #333e48;
}

.navbar-expand-md .navbar-nav .nav-link {
	padding-right: 1.5rem;
	padding-left: 0.5rem;
}

.navbar-collapse.collapse.show {
	height: 92vh;
}

@media only screen and (max-width: 767px) {
	.nav-link,
	.btn-navbar {
		margin-top: 15px;
		font-size: 22px;
		font-family: "robotomedium";
	}
	.btn-navbar {
		font-family: "robotoregular";
	}
}
@media only screen and (max-width: 844px) {
	.navbar-expand-md .navbar-nav .nav-link {
		padding-right: 1.2rem;
		padding-left: 0;
	}
	.btn-navbar {
		padding: 0;
	}
}
/* footer styles */
.bg-dark-blue {
	background: #00194d;
}
.bg-light-blue {
	background: #0075c9;
}

/* btn primary */
.btn-primary {
	background: #0075c9;
	padding: 7px 22px;
}
.btn-primary:hover {
	background: #0270bf;
}
/* font styles */
h2 {
	font-size: 28px;
	font-family: "robotomedium";
}

.current-opportunities {
	background-color: #0075c9;
	border-radius: 4px;
	color: #ffffff;
	/* font-size: 20px; */
}

.graduates {
	font-size: 14px;
	padding: 15px;
	font-weight: 900;
	letter-spacing: 0.04em;
	border: 1px solid #ffffff;
	border-radius: 4px;
	font-weight: 500;
	font-size: 14px;
	text-align: center;
	letter-spacing: -0.2px;
	color: #ffffff;
}

.white-heading-careers-mobile {
		
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -1px;
    color: #ffffff;	
    display: flex;
    align-items: center;
    justify-content: center;
}

.white-subheading-careers-mobile{

    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: -0.4px;
    color: #FFFFFF;
}

.blue-uppercase { 
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: #0075C9;
}

.mobile-h5, .d-employee-benefit-bold {
    font-weight: bold;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.8px;
    color: #333E48;
}



.heading4-light, .heading4-light-desktop {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.4px;
    color: #333E48;
    text-align: center;
}

.heading4-bold {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.4px;
    color: #333E48;
}

.company-values {
    padding-left: 5px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.4px;
    color: #828282;
}

.fabs {
    position: fixed;
    right: 32px;
    bottom: 32px;
    background-color: transparent;
    height: 0px;
    width: 110px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fabs:hover {
    cursor: pointer;
}

.desktop-title {
    padding-top: 185px;
}

.get-started-button-d {
	height: 60px;
	width: 160px;
	background-color: #0075c9;
	border-radius: 4px;
	color: #ffffff;
	font-weight: 500;
	font-size: 14px;
	text-align: center;
}
.contact-button-d {
	height: 60px;
	width: 191px;
	background-color: #FFFFFF;
	border: 1px solid #615D5D;
	box-sizing: border-box;
	border-radius: 4px;
	text-align: center;
	letter-spacing: -0.2px;
	color: #6A7083;
	font-weight: 500;
	font-size: 14px;
}

/* tablet - desktop */
@media (min-width: 768px){ 
	.get-started {
		font-weight: bold;
		font-size: 40px;
		line-height: 50px;
		letter-spacing: -1px;
		color: #FFFFFF;
	}
	.bg-gradient-d {
		height: 75vh;
		width: 100%;
		background-image: linear-gradient(180deg, #0075C9 0%, #76C2B6 100%);
	}
    .mobile-cover {
        display: none;
    }

    .deskop-h1 {
        width: 497px;
        padding-left: 15px;
        font-weight: bold;
        font-size: 52px;
        line-height: 64px;
        letter-spacing: -1.6px;
        color: #333E48;
        display: flex;
        align-items: flex-end;
	}
	
	.d-employee-benefit-bold{
		display: none;
	}

    .mobile-h5 {
        display: none;
    }

    .desktop-h5{
        font-size: 40px;
        line-height: 48px;
        text-align: center;
        letter-spacing: -1px;
        color: #333E48;
        padding-left: 327px;
        padding-right: 325px;
        padding-bottom: 35px;
    }

    .heading4-light-desktop {
        padding: 0;
        text-align: left;
    }

    .lead {
        padding-left: 15px;
        color: #333E48;
    }

    /* .current-opportunities, .graduates {
        width: 210px;
        height: 56px;
    } */

    .desktop-cover {
        background-size: cover;
        
    }

    .cover-picture {
        background-image: url(../images/Indie\ Laughing\ BG.svg);
        position: relative;
        width: 792px;
        height: 748px;
        left: -86px;
        top: 124px;
        overflow: hidden;

    }

    .bg-grey-desktop {
        background-color: #E5E5E5;
    }
    .bg-grey {
        background-color: #FFFFFF;
    }
    .blue-uppercase { 
        padding: 55px 15px 17px 0;
        text-align: left;
    }

    .bg-grey-desktop  > .blue-uppercase {
        text-align: center;
    }

    .heading4-light {
        padding-left: 342px;
        padding-right: 339px;
        padding-bottom: 89px;
    }

    .desktop-row-adj{
        padding-left: 164px;
        padding-right: 174px;
        padding-bottom: 130px;
    }

    .heading4-bold {
        width: 267px;
    }

    .girl-laughing-mobile {
        display: none;
    }

    .girl-laughing-desktop {
        position: relative;
        width: 578px;
        height: 704px;
        left: 50px;
    
	}
	
	.wealthbonus-img {
		width: 90%;
	}
 }

@media (max-width: 572px) {
	.desktop-cover, .cover-picture{
		display: none;
	}
	.mobile-cover {
		height: 91vh;
		width: 100%;
		background-image: linear-gradient(90.74deg, #0075C9 0%, #76C2B6 100%);;
	}


	.white-heading-careers-mobile {
		padding: 62px 15px 0 15px;	
	}

	.white-subheading-careers-mobile{
		padding: 0 30px;
		padding-top: 13px;
		padding-bottom: 5px;
	}

	.current-opportunities, .graduates {
		padding: 14px;
	}

	.blue-uppercase { 
		padding: 55px 26px 17px 26px;
	}

	
	

	.mobile-h5 {
		
		padding-left: 27px;
		padding-right: 27px;
	}

	.heading4-light{
		padding-top: 35px;

	}
	.heading4-bold {
		padding-top: 20px;
		
	}
	
	.bg-grey {
		background-color: #E5E5E5;
	}

	.desktop-h5{
		display: none;
	}

	.girl-laughing-mobile > img{
		max-width: 250px;
	}

	.girl-laughing-desktop  {
		display: none;
	}

	.fabs{
		right: 37px;
		bottom: 24px;
	}

	

}

.small-text {
	font-size: 12px;
}
.small-text-14 {
	font-size: 14px;
}
/* application page */
#form-1 {
	display: block;
}
#form-2 {
	display: none;
}
.gradient-bg {
	height: 210px;
	width: 100%;
	background: linear-gradient(98.22deg, #0075c9 0%, #76c2b6 100%);
}
.pill-small {
	background-color: #e6f1fa;
	color: #0075c9;
	line-height: 14px;
}
.white-to-black {
	color: white;
}
.white-to-blue {
	color: #f2f2f2;
}
.show-sm {
	display: none;
}
.mobile-hr {
	display: none;
}
.max-width {
	max-width: 1100px;
	margin: 80px auto;
	padding: 0 24px;
}
.form-control {
	border: 1px solid #bcc4ce;
	font-size: 14px;
}
.brand-black {
	color: #4f4f4f;
}

.blue {
	color: #237ab9;
}
.form-hr {
	border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.btn-upload {
	border: 1px solid #0075c9;
	border-radius: 4px;
}
.pill-small-warning {
	background: #fef0e6;
	color: #f26901;
}

input[type="file"] {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	cursor: pointer;
	width: 100%;
}
.form-control-text {
	width: 100%;
	border: 1px solid #bcc4ce;
	font-size: 14px;
	padding: 0.375rem 0.75rem;
	border-radius: 0.25rem;
}
#form-popup {
	background: linear-gradient(180deg, #0075c9 0%, #76c2b6 100%);
	display: none;
	width: 806px;
	height: 497px;
	border-radius: 10px;
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	top: 16vh;
	transition: all 0.4s ease;
}
.img-center {
	display: block;
	margin: 0 auto;
}
.width-small {
	width: 420px;
	margin-top: 100px;
	z-index: 2;
}
.white-btn {
	padding: 20px 30px;
	border: 1px solid #ffffff;

	border-radius: 3px;
}
a:hover {
	text-decoration-line: none;
}
.bg-img {
	position: absolute;
	z-index: 1;
	width: 806px;
	height: 497px;
}
.btn-next {
	padding: 16px 0;
	width: 23%;
	display: block;
	font-size: 16px;
}
@media only screen and (max-width: 767px) {
	.gradient-bg {
		background: transparent;
		height: auto;
	}
	.white-to-black {
		color: #333e48;
	}
	.white-to-blue {
		color: #0075c9;
	}
	.pill-small {
		background-color: #e6f1fa;
	}

	.show-sm {
		display: inline-block;
	}
	.hide-sm {
		display: none;
	}
	.mobile-hr {
		height: 1px;
		width: 90%;
		display: block;
		margin: 0 auto;
		border-top: 1px solid rgba(0, 0, 0, 0.2);
	}
	.max-width {
		margin: 50px 24px;
		padding: 0;
	}
	.fileUpload {
		margin-top: 0;
	}
	.btn-block-md {
		width: 100%;
		display: block;
	}
	#form-popup {
		background: linear-gradient(180deg, #0075c9 0%, #76c2b6 100%);
		display: none;
		width: 350px;
		height: 450px;
		border-radius: 10px;
		position: fixed;
		z-index: 10;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		top: 80px;
		transition: all 0.4s ease;
	}
	.img-center {
		display: block;
		margin: 0 auto;
	}
	.width-small {
		width: 90%;
		margin-top: 40px;
		z-index: 2;
	}
	.bg-img {
		position: absolute;
		z-index: 1;
		width: 350px;
		height: 450px;
	}
}

.vacancy-ltext{

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;


	display: flex;
	align-items: flex-end;
	letter-spacing: -0.6px;

	color: #555E66;


}

.vacancy-text{

font-size: 16px;
line-height: 20px;


color: #666E75;
}